.reviewthumbnail {
  width: 70%;
  height: 60%;
  border-radius: 10px;
  justify-content: center;
}

.reviewbox {
  border: 2px groove rgb(12, 104, 243);
  margin: 10px;
  grid-area: Review;
}
.reviewslist {
  list-style: none;
}
.dynamicheader {
  text-transform: capitalize;
}

.votebox {
  grid-area: Votes;
  justify-content: center;
}
.reviewcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "Review Votes";
}
