.reviewthumbnail {
  width: 70%;
  height: 60%;
  border-radius: 10px;
  justify-content: center;
}

.reviewimage {
  width: 80%;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.reviewbox {
  background-color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.reviewowner {
  font-weight: bold;
}

.reviewtitle {
  font-weight: bold;
  margin-bottom: 10px;
}

.commentcount {
  font-weight: bold;
  margin: 20px;
}

.ownerdesignerbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.num-display {
  top: -10px;
  left: -10px;
  width: 50px;
  height: 50px;
  background-color: deeppink;
  color: aliceblue;
  border-radius: 50%;
  display: table-cell;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  line-height: 50px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.likebox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.deletebutton {
  top: -10px;
  right: -10px;
}
.commentbox {
  color: aliceblue;
}
.commentcomponent {
  padding: 5px;
}
.commentheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}
.date {
  font-size: smaller;
}
