@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.App {
  text-align: center;
  background: linear-gradient(to right, #21ec07, #1fe9f0);
}

.commentcomponent {
  background-color: rgb(12, 104, 243);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  margin-bottom: 20px;
}

.commentslist {
  list-style: none;
  justify-content: center;
  margin-right: 30px;
  color: aliceblue;
}

body,
html {
  font-family: "Poppins", sans-serif;
}
